flows(3).json
[
    {
        "id": "379d814384897899",
        "type": "tab",
        "label": "Virtual Vision",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "5476800bab25f0ce",
        "type": "http in",
        "z": "379d814384897899",
        "name": "",
        "url": "/vvGet",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 230,
        "y": 240,
        "wires": [
            [
                "867cb3985d81ca5c"
            ]
        ]
    },
    {
        "id": "97905013588d7a51",
        "type": "http response",
        "z": "379d814384897899",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 690,
        "y": 200,
        "wires": []
    },
    {
        "id": "14e2e8d91a070c70",
        "type": "debug",
        "z": "379d814384897899",
        "name": "debug 22",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 700,
        "y": 280,
        "wires": []
    },
    {
        "id": "867cb3985d81ca5c",
        "type": "cloudantplus in",
        "z": "379d814384897899",
        "name": "",
        "cloudant": "92c9cc39242c9963",
        "database": "vvDB",
        "service": "_ext_",
        "search": "_all_",
        "design": "",
        "index": "",
        "x": 450,
        "y": 240,
        "wires": [
            [
                "97905013588d7a51",
                "14e2e8d91a070c70"
            ]
        ]
    },
    {
        "id": "a11e99e6410290ad",
        "type": "http in",
        "z": "379d814384897899",
        "name": "",
        "url": "/vvPost",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 230,
        "y": 80,
        "wires": [
            [
                "d0f319b18c377db7"
            ]
        ]
    },
    {
        "id": "940d28d2b4d122f2",
        "type": "http response",
        "z": "379d814384897899",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 690,
        "y": 40,
        "wires": []
    },
    {
        "id": "577fab124f2bdbc7",
        "type": "debug",
        "z": "379d814384897899",
        "name": "debug 23",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 700,
        "y": 120,
        "wires": []
    },
    {
        "id": "d0f319b18c377db7",
        "type": "cloudantplus out",
        "z": "379d814384897899",
        "name": "",
        "cloudant": "92c9cc39242c9963",
        "database": "vvDB",
        "service": "_ext_",
        "payonly": true,
        "operation": "insert",
        "x": 450,
        "y": 80,
        "wires": [
            [
                "577fab124f2bdbc7",
                "940d28d2b4d122f2"
            ]
        ]
    },
    {
        "id": "0c6aee06b189e35c",
        "type": "cloudantplus out",
        "z": "379d814384897899",
        "name": "",
        "cloudant": "92c9cc39242c9963",
        "database": "vvDB",
        "service": "_ext_",
        "payonly": true,
        "operation": "delete",
        "x": 450,
        "y": 560,
        "wires": [
            [
                "cf51e3dc705b28d1",
                "a50b917b5d139606"
            ]
        ]
    },
    {
        "id": "11cb1519c0b315c1",
        "type": "http in",
        "z": "379d814384897899",
        "name": "",
        "url": "vvDelete",
        "method": "delete",
        "upload": false,
        "swaggerDoc": "",
        "x": 240,
        "y": 560,
        "wires": [
            [
                "0c6aee06b189e35c"
            ]
        ]
    },
    {
        "id": "cf51e3dc705b28d1",
        "type": "http response",
        "z": "379d814384897899",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 690,
        "y": 520,
        "wires": []
    },
    {
        "id": "a50b917b5d139606",
        "type": "debug",
        "z": "379d814384897899",
        "name": "debug 24",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 700,
        "y": 600,
        "wires": []
    },
    {
        "id": "d04c901b987d99c8",
        "type": "http in",
        "z": "379d814384897899",
        "name": "",
        "url": "vvPatch",
        "method": "patch",
        "upload": false,
        "swaggerDoc": "",
        "x": 240,
        "y": 400,
        "wires": [
            [
                "34b6537471cf01e5"
            ]
        ]
    },
    {
        "id": "b13713a6ea664ce0",
        "type": "http response",
        "z": "379d814384897899",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 690,
        "y": 360,
        "wires": []
    },
    {
        "id": "7dd0b4de4e23297b",
        "type": "debug",
        "z": "379d814384897899",
        "name": "debug 25",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 700,
        "y": 440,
        "wires": []
    },
    {
        "id": "34b6537471cf01e5",
        "type": "cloudantplus out",
        "z": "379d814384897899",
        "name": "",
        "cloudant": "92c9cc39242c9963",
        "database": "vvDB",
        "service": "_ext_",
        "payonly": true,
        "operation": "insert",
        "x": 450,
        "y": 400,
        "wires": [
            [
                "b13713a6ea664ce0",
                "7dd0b4de4e23297b"
            ]
        ]
    },
    {
        "id": "92c9cc39242c9963",
        "type": "cloudantplus",
        "host": "https://apikey-v2-1sf2n1o95m2vpr2jfg0nc12cqd076yoyoopnhgjzuh5o:a7b29644e36c2dd9ed66686c4203c23b@8472bb0f-4f34-4675-bd25-3cf7a52343d1-bluemix.cloudantnosqldb.appdomain.cloud",
        "name": "",
        "useapikey": true
    }
]